.intro__list {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    max-width: 690px;
    list-style: none;
    margin: 0;
    padding: 0;
}

@media all and (max-width: 768px) and (max-width: 1024px) {
    .intro__list {
        width: 100%; 
    }
}
