.cover__subtitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    z-index: 3;
    max-width: 360px;
    grid-column: 2/4;
    grid-row: 3/4;
    align-self: start;
    justify-self: center;
}

@media all and (max-width: 768px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        max-width: 288px;
    }
}