.places__place_website_link {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 12px;
    color: #ffffff;
    text-decoration: underline;
}

.places__place_website_link:hover {
    cursor: url(../../../../images/cursor.svg), auto;
}