.places__place_paragraph {
    font-size: 18px;
    font-weight: 400;
    line-height: 29.34px;
    letter-spacing: 0em;
    text-align: left;
    list-style: none;
    margin: 0;
    padding: 0;
}

@media all and (max-width: 768px) and (max-width: 1024px) {
    .places__place_paragraph {
        font-size: 16px;
        line-height: 26.08px;
    }
}
@media all and (max-width: 768px) {
    .places__place_paragraph {
        max-width: calc(100% - (16px * 2));
    }
}