.footer__copyright {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: right;
}

@media all and (max-width: 768px) {
    .footer__copyright {
        line-height: 14px;
    }
}