.intro__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 26.08px;
    letter-spacing: 0em;
    text-align: left;
    max-width: 690px;
    margin: 40px 0 33px;
}

@media all and (max-width: 768px) and (max-width:1024px) {
    .intro__text {
        width: 100%;  
    }
}
/* Указал таким образом маржин топ 34пх, т.к. нет дизайнера, у которого можно спросить - ошибка это или инет, сделал полностью по макету */
@media all and (max-width: 768px) {
    .intro__text {
        margin-top: 34px;
    }
}