.cover__background {
    background-image: url(../../../images/cover-trains.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 62.5vw;
    max-height: 740px;
    box-sizing: border-box;
    position: relative;
}

.cover__background::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #2A2c2f;
    opacity: 0.3;
}

.cover__background:hover::before {
    opacity: 0.8;
    cursor: url(../../../images/cursor.svg), auto;
}