.cover__title {
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    letter-spacing: 0em;
    text-align: center;
    z-index: 3;
    max-width: 560px;
    grid-column: 2/4;
    grid-row: 2/3;
    align-self: center;
    justify-self: center;
    text-decoration: none;
    color: #ffffff;
}

.cover__title:hover {
    cursor: url(../../../images/cursor.svg), auto;
}

@media all and (max-width: 768px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        max-width: 288px;
    }
}