.place {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr max-content;
    column-gap: 40px;
    row-gap: 48px;
    max-width: 100%;
    margin-bottom: 80px;
}

.place:last-child {
    margin-bottom: 0px;
}

@media all and (max-width: 1024px) {
    .place {
        margin-bottom: 73px;
    }
}
@media all and (max-width: 768px) {
    .place {
        margin-bottom: 49px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        column-gap: 0;
        row-gap: 0;
    }
}
